:root {
	background-color: #101010;
	color: #fefefe;

	font-family: 'Inter', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode',
		Geneva, Verdana, sans-serif;
}

a {
	color: #007bff;
	text-decoration: none;

	transition: all 0.1s ease-in-out;

	&:visited {
		color: #007bff;
	}

	&:hover {
		color: #0056b3;
		text-decoration: underline;
	}
}
